azure-identity==1.16.1
langchain==0.0.187
openai==1.11.1
azure-search-documents==11.4.0b3
azure-storage-blob==12.14.1
azure-cosmos==4.5.2b1
tiktoken==0.5.1
python-dotenv==1.0.0
pydantic==1.10.13
azure-monitor-opentelemetry==1.2.0
pytest-cov==4.1.0
fastapi==0.109.2
uvicorn==0.27.1
Jinja2==3.1.4
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
